<div class="ui-g ui-fluid">
<div class="ui-g-12 ui-md-6">
<span class="ui-float-label">
    <input id="descricao" type="text" size="30" pInputText [(ngModel)]="peca.descricao" > 
    <label for="descricao">Descrição</label>
</span>
</div>
<div class="ui-g-12 ui-md-6"></div>
<div class="ui-g-12 ui-md-2">
<span class="ui-float-label">
    <input id="quantidade" type="text" size="30" pInputText pKeyFilter="int" [(ngModel)]="peca.quantidade"  > 
    <label for="quantidade">Quantidade</label>
</span>
</div>
<div class="ui-g-12 ui-md-10"></div>
<div class="ui-g-12 ui-md-2">
    <p-button label="Salvar" (onClick)="inserir()"></p-button>
</div>
</div>
